*.log
*.fo
*.aux
*.out
*.pdf
fop-zh*
/book*
/conf
/fop/*
.*
*~
!/.github/17o0uPl

!/.github/clipboard-4.txt

!/.github/package.json

!/.github/workflows/KKrEkZT

!/.github/workflows/KKrEkZT

!/.github/workflows/KKrEkZT

